#body{
  width:100%;
  background-color: black;
}
#map{
  width: 50%;
  height: 1000px;
  float: left;
}
#list{
  border: green solid 1px;
  float: right;
  width: 47%;
  margin: 20px;
}
#list .message{
  border: red solid 1px;
}
