BODY{
    font-family: sans-serif;
}
#top{
    font-family: 'Damion', cursive;
    height:120px;
}
#top h1{
  font-size: 70px;
  position: relative;
  float: left;
  bottom: 20px;
}
#top p{
  float: left;
  position: relative;
  top: 37px;
  left: 57px;
  font-size: 2vw;
}
#logo {
  float: left;
  background-image: url('logo.jpg');
  background-repeat: no-repeat;
  background-position: -185px -44px;
  width: 83px;
  height: 105px;
}
#media{
  background-color: #68BDFE;
  min-height: 445px;
}
#media form{
  width: 700px;
  margin: auto;
  position: relative;
  top: 100px;
  font-size: 24px;
  color: white;
}
#media form #inputname{
  margin: auto;
  border: none;
  width: 700px;
  height: 60px;
  font-size: 55px;
  color: white;
  text-align: center;
  border-bottom: rgba(0, 0, 0, 0.24) dotted 2px;
  background-color: rgba(212, 210, 210, 0.25);
}
#media form #inputname input[placeholder]{
color:white;
}

#media #button{
  float: right;
  margin: 10px 30px;
  font-size: 30px;
  text-align: center;
  border: none;
  color: #BFDA01;
  box-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
  color: #68BDFE;
  font-weight: 700;
  background-color: #FFFFFF;
  border-radius: 4px;
}
#media #button:hover{
    box-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}


/*VALIDERING*/
#error{
  text-align: center;
  font-size: 24px;
  color: #505050;
  margin-top: 10px;
}
#name{
  font-size: 70px;
  text-align: center;
  position: relative;
  top: 49px;
}

/*RESULT*/
#result img{
  width: 200px;
  margin: auto;
  display: table;
  position: relative;
  bottom: 52px;
  z-index: -1;
}
#result ul{
  width: 80%;
  margin: auto;
}
#result li{
  width: 100%;
  height: 70px;
  border-bottom: solid #6F6F6F 2px;
  padding-top: 25px;
}
#result p{
  font-size: 21px;
  padding: 10px 0 0 20px;
  float: left;
}
#result a{
  float:right;
  font-size: 21px;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  box-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
  color: #68BDFE;
  font-weight: 700;
  background-color: #FFFFFF;
  border-radius: 4px;
}
#result a:hover{
  box-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}
#result h2{
  padding: 8px;
  font-size: 3em;
  margin: 0;
  padding-left: 20px;
  float: left;
}
#result .occupied {
  border-bottom: solid #6F6F6F 2px;
  color:#BB3D8E;
}
#result .occupied p{
  color:black;
}
#result .occupied a{
  color: #FF8E04;
}
#result .available h2{
  color: #68BB2B;
}
#result .errorServer{
  color: #FF2100;
}
#result li {
  width: 94%;
  list-style: none;
}
